body {
    z-index: 0; 
	font-family: "Lucida Sans", "Lucida Sans Unicode", sans-serif;
	background-image: url("bin/bg.png");
    background-color:#bfbfbf;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}
